*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
header{
    padding: 15px;
    background-color: rgb(12, 23, 139);
    color: white;
    grid-column: 1/4;
}
h2{
    text-align: center;
}
aside-left{
    grid-column: 1 / 2;
    padding: 15px;
    background-color: rgb(16, 94, 127);
    color: white;
}
aside-rigth{
    grid-column: 3 / 4;
    padding: 15px;
    background-color: rgb(16, 94, 127);
    color: white;
}
main{
    grid-column: 2 / 3;
    padding: 15px;
    background-color: rgb(42, 72, 105);
    color: white;
}
footer{
    grid-column: 1 / 4;
    padding: 15px;
    background-color: rgba(71,109,147,1);
    color: white;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}
